/*折线图组建样式*/
/*可能把名字定义的有问题需要注意*/
.H5_component_polyline  {
}
.H5_component_polyline canvas{
    /*因为canvas做动画会分为好几几个层,最后z-index*/
    position: absolute;
    top: 0;
    left:0;
    /*设置成100%，不管你多高多宽最后和组件，原始大小的效果一杨宽
    这样会压缩canvas，  会在手机显示上图像会更精致，*/
    width: 100%;
    height: 100%;
    /*background: rgba(238, 51, 26, 0.47);*/
}
.H5_component_polyline .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -35px;
    line-height: 20px;
    opacity: 0;
    -webkit-transform: scale(.8);
    -webkit-transition: all 1s 1.5s;/*最后家的延迟是动画10*100次+500延迟*/
}
.H5_component_polyline_load .text{
    opacity: 1;
}
.H5_component_polyline_leave .text{
    opacity: 0;
}

